<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
		</title>    
		<link rel = "icon" type = "image/png" href = "./images/logo.png" sizes="50x50">
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/css0.css">
		<link rel="stylesheet" href="./css/css400.css">
		<link rel="stylesheet" href="./css/css768.css">
	</head>
	<body>
		<div id="loading" class="">
			<div id="loadingimg" >
				<img src="./images/2.gif" width="200" height="200" alt="">
			</div>
		</div>
		<div id="pleaseWait">

		</div>
		<div id="mainDivision" class="hidden css0 css400 css768">
			<div id="appHome">
				<div id="header">
					<div id="heading" class="flex">
						<img id="appHeaderLogo" src="./images/logo.png" alt="Logo">
						<div id="headText" ></div>
					</div>
				</div>
				<div id="Authentication" class="container flex-column">
					<div id="columns" class="flex-row">
						<div id="homeColumn1" class="homeCol">
							<h1 id="homeDivTextHead" class="text-center"></h1>
							<p id="homeDivTextSubHead"></p>
							<ul id="homeDivTextList"></ul>
						</div>
						<div id="homeColumn2" class="homeCol">
							<div id="Auth">
								<div id="authInside">
									<div id="tabs" class="flex-row text-center">
										<div id="tabLogin">
											<p>Login</p>
										</div>
										<div id="tabVerify">
											<p>Register</p>
										</div>
									</div>
									<div id="panel">
										<div id="loginPanel">
											<form id="loginForm" onsubmit="return false;" class="flex-column">
												
												<p id="loginStatus" class="text-center status">Please Login...</p>
												<input type="email" placeholder="Email" id="loginEmail" class="input" required oninvalid="setCustomValidity('Enter a valid Email.')" oninput="setCustomValidity('')" >
												<br>
												<input type="password" placeholder="password" id="loginPassword" class="input" minlength="6" required oninvalid="setCustomValidity('Password must contain atleast 6 characters.')" oninput="setCustomValidity('')" >
												<a onsubmit="return false;" id="forgetPassword">Reset Password.</a>
												<button id="loginButton" type="submit"   class="btn">Login</button>
											
											</form>
										</div>
										<div id="verifyPanel" class="hidden">
											<form id="registerForm" onsubmit="return false;" class="flex-column">
												<p id="registerStatus" class="text-center status">Fill the data.</p>
												<input type="email" placeholder="Email" id="registerEmail" class="input" required oninvalid="callSyncFunc(validEmail);" > 
												<br>
												<input type="text" placeholder="Name" id="registerName" class="input" required minlength="4" oninvalid="callSyncFunc(validUsername);">
												<br>
												<input type="password" name="Password" id="registerPassword1" class="input" minlength="6" placeholder="Password" oninvalid="setCustomValidity('Password must contain atleast 6 characters.')" oninput="setCustomValidity('')" >
												<br>
												<input type="password" name="Password" id="registerPassword2" class="input" minlength="6" placeholder="Retype Pssword" oninvalid="setCustomValidity('Password must contain atleast 6 characters.')" oninput="setCustomValidity('')" >
												<button type="submit" id="registerButton" class="btn hidden">Register</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div id="userHome" class="hidden">
				<div id="header">
					<div id="heading" class="flex">
						<img id="appHeaderLogo" src="./images/logo.png" alt="Logo">
						<div id="headText"></div>
					</div>
				</div>
				<div id="chat" class="flex-row">
					<div id="chat-left">
						<div id="chat-left-head" class="flex-row">
							<img src="./images/profile-default.png" class="chat-profile-image" alt="Profile">
							<div class="chat-info flex-column">
								<div class="chat-info-username">
									username
								</div>
								<div class="chat-info-email">
									r141040@rguktrkv.ac.in
								</div>
							</div>
						</div>
						<div id="chat-tabs">
							<div id="chat-friends-tab" class="chat-tab-option chat-tab-selected" onclick="changeTab('chat-friends-tab')">
								Friends
							</div>
							<div id="chat-requests-tab" class="chat-tab-option" onclick="changeTab('chat-requests-tab')">
								Requests
							</div>
							<div id="chat-new-tab" class="chat-tab-option" onclick="changeTab('chat-new-tab')">
								New
							</div>
						</div>
						<div id="chat-friends-panel" class="chat-tab-panel-style">
							<div class="friend">
								<img class="chat-profile-image" src="./images/profile-default.png" alt="">
								<div class="friend-info flex-column">
									<div class="friend-info-username">
										username
									</div>
									<div class="friend-info-email">
										r141040@rguktrkv.ac.in
									</div>
								</div>
								<div class="friend-status">
									<div class="friend-status-connection">
										02/12/1999 09:12 AM
									</div>
									<div class="friend-status-message-count">
										1
									</div>
								</div>
							</div>
							<div class="friend">
								<img class="chat-profile-image" src="./images/profile-default.png" alt="">
								<div class="friend-info flex-column">
									<div class="friend-info-username">
										yogendra
									</div>
									<div class="friend-info-email">
										yogendra.rgu@gmail.com
									</div>
								</div>
								<div class="friend-status">
									<div class="friend-status-connection online">
										online
									</div>
									<div class="friend-status-message-count">
										14
									</div>
								</div>
							</div>
						</div>
						<div id="chat-requests-panel" class="chat-tab-panel-style hidden">
							<div class="request">
								<img class="chat-profile-image" src="./images/profile-default.png" alt="">
								<div class="request-info flex-column">
									<div class="request-info-username">
										username
									</div>
									<div class="request-info-email">
										r141040@rguktrkv.ac.in
									</div>
								</div>
								<div class="request-response">
									<button class="confirm-button">Confirm</button>
								</div>
							</div>
							<div class="request">
								<img class="chat-profile-image" src="./images/profile-default.png" alt="">
								<div class="request-info flex-column">
									<div class="request-info-username">
										Yogendra
									</div>
									<div class="request-info-email">
										yogendra.rgu@gmail.com
									</div>
								</div>
								<div class="request-response">
									<button class="confirm-button">Confirm</button>
								</div>
							</div>
						</div>
						<div id="chat-new-panel" class="chat-tab-panel-style hidden">
							chat new
						</div>
					</div>
					<div id="chat-right">
						<div id="chat-right-head" class="hidden">
							Selected user profile
						</div>
						<div id="chat-display" class="chat-display-emtpy">
							<div id="chat-display-default">
								chat disply default
							</div>
							<div id="chat-display-custom" class="hidden">
								selected user chat disaply
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="errorDiv" class="text-center">
			<h1>Please Enable Javascript To Proceed...</h1>
		</div>
	</body>
	<script src="./js/socket.io.js"  type="text/javascript"></script>
	<script src="./env/env.js" type="text/javascript"></script>
	<script src="./js/data.js" type="text/javascript"></script>
	<script src="./js/functions.js"  type="text/javascript"></script>
	<script src="./js/app.js"  type="text/javascript"></script>
</html>